﻿@{
    ViewData["Title"] = "Formulário";
}

<div>
    
    <div class="usuario row"> 
        <h1 class="display-4">Formúlario de Pesquisa</h1>
        <p>Cadastre sua pesquisa aqui.</p>

        <div class="col-4"> 
            <label for="inputNome4" class="nome form-label">Nome</label>
            <input type="text" class="nome form-control" id="inputNome4">
        </div>

        <div class="col-4"> 
            <label for="inputTel" class="telefone form-label">Telefone</label>
            <input type="text" class="telefone form-control" id="inputTel" placeholder="(DD) xxxxx-xxxx">
        </div>

        <div class="col-6"> 
            <label for="inputEmail" class="email form-label">Email</label>
            <input type="email" class="email form-control" id="inputEmail" >   
        </div>
        <div class="col-12 mt-2"> 
            <input class="anonimo form-check-input " type="checkbox" id="gridCheck">
            <label class="fanonimo orm-check-label" for="gridCheck">Anônimo</label>
             
        </div>

    </div>


        <section class="marcadores mt-5">

            <div class="titulo-marcadores text-center">
                <h3>Marcadores</h3>
                <hr class="mt-2">
            </div>
            
            <div class="marcador row mt-2">
                     <div class="col-11">
                        <label  class="form-label" ><b>Marcador 1</b></label>
                        <br/>
                        <label  class="form-label" >
                            Descrição da metodologia utilizada
                        </label>
                     </div>

                     <div class="col-1">  
                         <label  class="form-label" ><b>Percentual</b></label>
                        <input type="text" class="form-control" for="inputPercent1">   
                     </div>
                     <hr class="mt-2">
            </div>

            <div class="marcador row mt-2">
                     <div class="col-11">
                        <label  class="form-label" ><b>Marcador 2</b></label>
                        <br/>
                        <label  class="form-label" >
                           Declaração de compartilhamento e disponibilização dos dados e/ou códigos
                        </label>
                     </div>

                     <div class="col-1">  
                         <label  class="form-label" ><b>Percentual</b></label>
                        <input type="text" class="form-control" for="inputPercent2">   
                     </div>
                     <hr class="mt-2">
            </div>

            <div class="marcador row mt-2">
                     <div class="col-11">
                        <label  class="form-label" ><b>Marcador 3</b></label>
                        <br/>
                        <label  class="form-label" >
                            Indicação clara de todas as modificações, ajustes digitais seletivos e aprimoramentos eletrônicos feitos nas imagens e/ou nos dados.
                        </label>
                     </div>

                     <div class="col-1">  
                         <label  class="form-label" ><b>Percentual</b></label>
                        <input type="text" class="form-control" for="inputPercent3">   
                     </div>
                     <hr class="mt-2">
            </div>

            <div class="marcador row mt-2">
                     <div class="col-11">
                        <label  class="form-label" ><b>Marcador 4</b></label>
                        <br/>
                        <label  class="form-label" >
                           Revisão por pares
                        </label>
                     </div>

                     <div class="col-1">  
                         <label  class="form-label" ><b>Percentual</b></label>
                        <input type="text" class="form-control" for="inputPercent">   
                     </div>
                     <hr class="mt-2">
            </div>

            <div class="marcador row mt-2">
                     <div class="col-11">
                        <label  class="form-label" ><b>Marcador 5</b></label>
                        <br/>
                        <label  class="form-label" >
                           Compartilhamento de artefatos/instrumentos de coleta
                        </label>
                     </div>

                     <div class="col-1">  
                         <label  class="form-label" ><b>Percentual</b></label>
                        <input type="text" class="form-control" for="inputPercent5">   
                     </div>
                     <hr class="mt-2">
            </div>

            <div class="marcador row mt-2">
                     <div class="col-11">
                        <label  class="form-label" ><b>Marcador 6</b></label>
                        <br/>
                        <label  class="form-label" >
                            Presença de referências bibliográficas
                        </label>
                     </div>

                     <div class="col-1">  
                         <label  class="form-label" ><b>Percentual</b></label>
                        <input type="text" class="form-control" for="inputPercent6">   
                     </div>
                     <hr class="mt-2">
            </div>

            <div class="marcador row mt-2">
                     <div class="col-11">
                        <label  class="form-label" ><b>Marcador 7</b></label>
                        <br/>
                        <label  class="form-label" >
                            Termos técnicos utilizados na pesquisa científica
                        </label>
                     </div>

                     <div class="col-1">  
                         <label  class="form-label" ><b>Percentual</b></label>
                        <input type="text" class="form-control" for="inputPercent7">   
                     </div>
                     <hr class="mt-2">
            </div>

            <div class="marcador row">
                     <div class="col-11">
                        <label  class="form-label" ><b>Marcador 8</b></label>
                        <input type="text" readonly class="form-control-plaintext"
                        value="Indicação dos softwares, equipamentos ou ferramentas utilizadas">
                     </div>

                     <div class="col-1">  
                         <label  class="form-label" ><b>Percentual</b></label>
                        <input type="text" class="form-control" for="inputPercent8">   
                     </div>
                     <hr class="mt-2">
            </div>

                @{
                    if (true)
                    {
                
                    }
                }

             <div>
                   <button type="submit"  class="btn btn-primary">Adicionar Outros Marcadores</button>
             </div>

    </section>


</div>



